$colorDark1: #4C77A6;
$colorDark2: #353a3d;
$colorDark3: #282c2e;

$colorBackground: #d0d0bc;
$colorBackgroundDarker: #f7ddb7;

$colorText: saturate(darken($colorDark1, 25%), 25%);
$colorTextLight: #a38c72;

$colorAccent: #a9c6c7;

$colorDull1: #353a3d;

$colorCycling: #ec5f30;
$colorWalking: #24d672;
$colorFandL: #cb9625;
$colorAandV: #5360e1;
$colorMisc: #71616a;

$ffHeading1: "Knockout-HTF33-JuniorHeviwt", sans-serif;
$ffHeading2: "Knockout-HTF52-Cruiserweight", sans-serif;

$ffSans: $ffHeading2;//"futura-pt", "Futura PT", Futura, sans-serif;
$ffSerif: "adobe-caslon-pro", "Adobe Caslon Pro", "Baskerville", serif;

$gutter: 16px;

$ipadPortrait: 768px;
$ipadLandscape: 1024px;
$iphoneLandscape: 578px;
$iphonePortrait: 320px;

// Quart
$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);

%icon-button {
	user-select: none;
}

* {
	z-index: 1;
	box-sizing: border-box;
}

::selection {
	background-color: $colorDull1;
	color: $colorBackground;
}

html {
	font-size: calc(112.5% + 4 * (100vw - #{$ipadPortrait}) / 400);
}

:root {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	color: $colorText;
	background-color: $colorBackground;
	background-attachment: fixed;
	font-family: $ffSans;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: space-between;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
}

p {
	font-size: 1em;
	line-height: 21px;
	font-family: $ffSerif;
	margin: ($gutter / 2) 0;
}

body > header {
	$colorBackground: #f7d6cd;
	$colorText: #0f9e5b;
	background-color: $colorBackground;
	color: $colorText;
	min-height: 100vh;
	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;

	.about {
		flex: 1 0 auto;
		width: 600px;
		padding: $gutter;
	}

	.categories-list {
		flex: 1 1 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: $gutter;

		article {
			position: relative;
			width: 33%;
			padding: $gutter / 4;

			svg {
				width: 100%;
				height: auto;

				.extras > g,
				.extras.border {
					opacity: 0;
					transition: opacity 150ms $easeOutQuart;
					transition-delay: 100ms;
				}
			}

			&:hover,
			&:active {
				svg .extras {
					& > g,
					&.border {
						opacity: 1;
						transition-delay: 100ms;
					}

					&.border {
						transition-delay: 0;
					}
				}
			}
		}
	}



	@media screen and (max-width: $ipadPortrait) {
		flex-direction: column;

		.about {
			width: 100%;
		}
	}
}

section.category {
	$colorText: #223bb9;
	min-height: 100vh;
	color: $colorText;
	padding: $gutter * 4 0;
	background-color: $colorBackground;

	h3 {
		color: #e36e5f;
	}

	.tip {
		fill: $colorText;
		text-shadow: 0px 0px 0px 6px $colorBackground;
	}
}

section.cycling {
	$colorBackground: #f7d6cd;
	$colorText: #0f9e5b;
	background-color: $colorBackground;
	color: $colorText;

	h3 {
		color: #e36e5f;
	}

	.graph-holder {
		.bar rect {
			fill: $colorText;
		}
	}

	.tip {
		fill: $colorText;
		text-shadow:
			-1px -1px 1px $colorBackground,
			1px 1px 1px $colorBackground,
			-1px 1px 1px $colorBackground,
			1px -1px 1px $colorBackground,
			-2px -2px 0px $colorBackground,
			2px 2px 0px $colorBackground,
			-2px 2px 0px $colorBackground,
			2px -2px 0px $colorBackground;
		z-index: 10;
	}
}

section.beer {
	$colorBackground: #d0d0bc;
	$colorText: #223bb9;
	background-color: $colorBackground;
	color: $colorText;

	h3 {
		color: #e36e5f;
	}

	.graph-holder {
		.bar rect {
			fill: $colorText;
		}
	}

	.tip {
		fill: $colorText;
		text-shadow:
			-1px -1px 1px $colorBackground,
			1px 1px 1px $colorBackground,
			-1px 1px 1px $colorBackground,
			1px -1px 1px $colorBackground,
			-2px -2px 0px $colorBackground,
			2px 2px 0px $colorBackground,
			-2px 2px 0px $colorBackground,
			2px -2px 0px $colorBackground;
		z-index: 10;
	}
}

.stats {

	.stat {
		padding: 0.5em 0.125em;
	}

	h3 {
		font-size: 1em;
		font-family: $ffHeading1;
		letter-spacing: 0.085em;
		margin: 0;
	}

	h2 {
		font-size: 2.4em;
		font-family: $ffHeading2;
		letter-spacing: 0.05em;
		margin: 0;
	}

	.graph-holder {
		margin: $gutter * 2 auto;
		//border: 1px solid red;

		h3 {
			text-align: center;
			margin-top: $gutter * 2;
		}

		.divider {
			$dividerHeight: $gutter * 2;
			$offset: -($gutter + 1px);
			position: relative;
			background-image: url("/img/map-divider-squiggle.svg");
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			width: 100%;
			height: $dividerHeight;
			margin-bottom: $offset;
			z-index: 10;
			filter: hue-rotate(7deg) brightness(30) saturate(50%);

			&:last-child {
				margin-bottom: 0;
				margin-top: $offset;
				transform: rotate(180deg);
			}
		}

		&.full {
			width: 100%;
		}

		svg {
			margin: $gutter auto;
		}

		g rect.hover-bar {
			fill: transparent;
		}

		.text-bar rect {
			fill: transparent;
		}

		.tip {
			font-size: 0.75em;
			text-anchor: middle;
			pointer-events: none;

			text {
				text-anchor: middle;
			}
		}
	}

	.list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: $gutter;

		&.full {
			width: 100%;
		}

		li {
			font-size: 1.5em;
		}
	}

	.stats-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		width: 100%;
		max-width: $ipadLandscape + ($gutter * 2);
		padding: 0 $gutter;
		margin: 0 auto;

		& > *.stat {
			flex: 0 1 auto;
			width: 33%;

			@media screen and (max-width: 414px) {
				width: 50%;
			}
		}
	}
}

.map-holder {
	$ratio: 1.6;
	position: relative;
	width: 100%;
	height: calc(100vh / #{$ratio});
	max-width: $ipadLandscape;
	padding: 0 $gutter;
	margin: $gutter * 2 auto;
	box-sizing: border-box;
	//background-color: rgba(white, 0.12);
	//overflow: hidden;

	.divider {
		$dividerHeight: $gutter * 2;
		$offset: -($gutter + 1px);
		position: relative;
		background-image: url("/img/map-divider-squiggle.svg");
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 100%;
		height: $dividerHeight;
		margin-bottom: $offset;
		z-index: 10;
		filter: hue-rotate(7deg) brightness(30) saturate(50%);

		&:last-child {
			margin-bottom: 0;
			margin-top: $offset;
			transform: rotate(180deg);
		}
	}

	.map-container {
		width: 100%;
		height: 100%;
	}

	canvas {
		position: relative;
		z-index: 5;
		//position: absolute;
		//top: 0;
		//left: 0;
	}
}

[data-hook=viz-holder] {
	svg {
		margin: $gutter auto;
	}

	g rect.hover-bar {
		fill: transparent;
	}

	.text-bar rect {
		fill: transparent;
	}

	.tip {
		font-size: 0.75em;
		text-anchor: middle;
		pointer-events: none;

		text {
			text-anchor: middle;
		}
	}
}
