$colorDark1: #4C77A6;
$colorDark2: #353a3d;
$colorDark3: #282c2e;

$colorBackground: #d0d0bc;
$colorBackgroundDarker: #f7ddb7;

$colorText: saturate(darken($colorDark1, 25%), 25%);
$colorTextLight: #a38c72;

$colorAccent: #a9c6c7;

$colorDull1: #353a3d;

$colorCycling: #f66555;
$colorWalking: #15e048;
$colorFandL: #cb9625;
$colorAandV: #5360e1;
$colorMisc: #71616a;

$ffHeading1: "rift-soft", sans-serif;
$ffHeading2: "acumin-pro-wide", sans-serif;

$gutter: 16px;

$ipadPortrait: 768px;
$ipadLandscape: 1024px;
$iphoneLandscape: 578px;
$iphonePortrait: 320px;

// Quart
$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);

%icon-button {
	user-select: none;
}

* {
	z-index: 1;
	box-sizing: border-box;
}

::selection {
	background-color: $colorDull1;
	color: $colorBackground;
}

html {
	//font-size: calc(112.5% + 4 * (100vw - #{$ipadPortrait}) / 400);
	font-size: 16px;
}

:root {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	color: $colorText;
	background-color: $colorBackground;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: space-between;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
	font-family: $ffHeading2;
	font-weight: 700;
}

p {
	font-size: 1em;
	line-height: 21px;
	margin: ($gutter / 2) 0;
}

#start {
	$colorBackground: #f7d6cd;
	$colorText: #0f9e5b;
	background-color: $colorBackground;
	color: $colorText;
	min-height: 100vh;
	width: 100%;
	transition: opacity 500ms $easeOutQuart;

	&.hiding {
		opacity: 0;
		transition-timing-function: $easeInQuart;
	}

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	.about {
		flex: 0 0 auto;
		width: 100%;
		text-align: center;
		padding: $gutter / 2;
	}

	.categories-list {
		flex: 0 1 auto;
		padding: $gutter / 4;
		display: grid;
		align-items: center;
		justify-items: center;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: $gutter / 4;
		width: 100%;
		max-width: 820px;

		@media screen and (max-width: $ipadPortrait) {
			grid-template-columns: repeat(2, 1fr);
		}

		article {
			position: relative;

			a {
				user-select: none;
				-webkit-touch-callout: none;
				-webkit-tap-highlight-color: rgba(0,0,0,0);
			}

			svg {
				width: 100%;
				height: auto;

				.extras > g,
				.extras.border {
					opacity: 0;
					transition: opacity 150ms $easeOutQuart;
					transition-delay: 100ms;
				}
			}

			&:hover,
			&:active,
			&.active {
				svg .extras {
					& > g,
					&.border {
						opacity: 1;
						transition-delay: 100ms;
					}

					&.border {
						transition-delay: 0;
					}
				}
			}
		}
	}

	footer {
		padding: $gutter * 2 $gutter / 2 $gutter $gutter / 2;

		a {
			color: rgb(73, 45, 160);
		}
	}

	@media screen and (max-width: $ipadPortrait) {
		flex-direction: column;

		.about {
			width: 100%;
		}
	}
}

@mixin section($colorText, $colorValue, $colorBackground) {
	color: $colorText;
	background-color: $colorBackground;

	h3 {
		color: $colorValue;
	}

	svg {
		&.map {
			cursor: move;
			cursor: grab;

			&:active {
				cursor: grabbing;
			}
		}

		.bar rect:not(.hover-bar) {
			fill: $colorValue;
		}

		text {
			fill: $colorText;
		}

		.line {
			stroke: $colorValue;
		}

		g.scroll-message {
			opacity: 0;
			transition: opacity 400ms $easeOutQuart;

			&.show {
				opacity: 1;
				cursor: default;
			}

			& > rect {
				fill: rgba($colorBackground, 0.9);
			}

			& > text {
				font-weight: 400;
				font-size: 1.1rem;
				text-anchor: middle;
				alignment-baseline: middle;
			}
		}

		.feature {
			&.polygon,
			&.multipolygon {
				//fill: darken($colorBackground, 12.5%);
				fill: mix($colorText, $colorBackground, 25%);

				&.airport-grounds {
					fill: mix(mix(#ec5f30, #cb9625, 50%), $colorBackground, 12.5%);
				}

				&.green {
					fill: mix(#cb9625, $colorBackground, 12.5%);
				}
			}

			&.linestring,
			&.multilinestring {
				stroke: $colorValue;

				&.subway {
					stroke: mix(#a9c6c7, $colorBackground, 50%);
				}
			}

			&.point,
			&.multipoint {
				fill: $colorValue;
				stroke: $colorValue;

				&.checkin {
					fill: mix(rgb(102, 45, 145), blue, 66%);
					stroke: mix(rgb(102, 45, 145), blue, 66%);
				}
			}

			&.text {
				fill: $colorText;
				stroke: transparent;

				&.shadow {
					stroke: mix($colorBackground, white, 75%);
					fill: mix($colorBackground, white, 75%);
				}
			}
		}
	}

	.tip {
		fill: $colorText;
		text-shadow:
			-1px -1px 1px $colorBackground,
			1px 1px 1px $colorBackground,
			-1px 1px 1px $colorBackground,
			1px -1px 1px $colorBackground,
			-2px -2px 0px $colorBackground,
			2px 2px 0px $colorBackground,
			-2px 2px 0px $colorBackground,
			2px -2px 0px $colorBackground;
	}
}

section.stats-section {
	min-height: 100vh;
	padding: $gutter/2 0;
	$colorText: #223bb9;
	$colorValue: #e36e5f;
	$colorBackground: $colorBackground;
	@include section($colorText, $colorValue, $colorBackground);
	transition: opacity 500ms $easeOutQuart;

	&.loading,
	&.hiding {
		opacity: 0;
	}

	&.hiding {
		transition-timing-function: $easeInQuart;
	}

	h3 {
		text-overflow: clip;
		overflow: hidden;
		white-space: nowrap;
	}

	svg {
		.feature {
			&.linestring,
			&.multilinestring {
				fill: none;
				stroke-linejoin: round;
				stroke-width: 1.5px;
			}

			&.text {
				text-anchor: middle;
				dominant-baseline: middle;
				font-size: 1rem;

				&.shadow {
					paint-order: stroke;
					stroke-width: 4px;
					stroke-linecap: round;
				}
			}
		}
	}

	.tip {
		z-index: 10;
	}
}

section.cycling {
	$colorBackground2: darken(desaturate(lighten(#0f9e5b, 50%), 70%), 2%);
	$colorText: #0f9e5b;
	$colorValue: $colorCycling;
	@include section($colorText, $colorValue, $colorBackground2);
}

section.walking {
	$colorText: rgb(102, 45, 145);
	$colorValue: desaturate(lighten($colorWalking, 3%), 20%);
	@include section($colorText, $colorValue, $colorBackground);
}

section.beer {
	$colorBackground: #d0d0bc;
	$colorText: #223bb9;
	$colorValue: #e36e5f;

	@include section($colorText, $colorValue, $colorBackground);
}

section.coffee {
	$colorBackground: saturate(mix(#d0d0bc, lighten(#a38c72, 25%), 50%), 5%);
	$colorText: darken(#a38c72, 25%);
	$colorValue: #e36e5f;

	@include section($colorText, $colorValue, $colorBackground);
}

section.media {
	$colorBackground: rgb(198, 195, 211);
	$colorText: rgb(73, 45, 160);
	$colorValue: darken(rgb(224, 121, 161), 12.5%);

	@include section($colorText, $colorValue, $colorBackground);
}

section.health {
	$colorText: #9e005d;
	$colorBackground: rgb(195, 195, 207);
	$colorValue: darken(desaturate(#96b2f5, 10%), 12%);

	@include section($colorText, $colorValue, $colorBackground);
}

section.maps {
	$colorBackground: rgb(211, 211, 211);
	$colorText: rgb(63, 122, 129);
	$colorValue: darken(rgb(216, 63, 183), 12.5%);

	@include section($colorText, $colorValue, $colorBackground);

	.feature {
		&.linestring,
		&.multilinestring {
			&.walk {
				stroke: $colorWalking;
			}

			&.cycle {
				stroke: $colorCycling;
			}
		}
	}
}

[data-hook=viz-holder] {
	line-height: 0;
	overflow: auto;

	svg {
		margin: 0 auto;
		display: block;
	}

	g rect.hover-bar {
		fill: transparent;
	}

	.text-bar rect {
		fill: transparent;
	}

	.text-bar {
		font-size: 0.85em;
		pointer-events: none;

		text {
			text-anchor: middle;
			dominant-baseline: middle;
		}
	}

	.bar-text {
		&.title {
			text-anchor: start;
		}

		&.value {
			text-anchor: end;
		}
	}
}

$columns: 6;
$height: 196px;
$width: 196px;

$singleColumnDeviceMaxWidth: $width * 1.5;
$dualColumnDeviceMaxWidth: $width * 2;

[data-hook=stats-holder] {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
	grid-auto-rows: minmax(auto, $height);
	grid-gap: 0.35rem;
	grid-auto-flow: dense;

	@media screen and (max-width: $dualColumnDeviceMaxWidth) {
		//49% because the full width column won't be full width otherwise. bug?
		grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
	}

	@media screen and (max-width: $singleColumnDeviceMaxWidth) {
		grid-template-columns: 100%;
	}

	.stamp {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		//height: 400px;
		//width: 400px;
		//grid-column-start: span 2;
		grid-column-end: span 2;
		//grid-column-end: -1;//send to right side
		grid-row-end: span 2;
		padding: $gutter;
		box-sizing: border-box;
		overflow: hidden;

		@media screen and (max-width: $singleColumnDeviceMaxWidth) {
			grid-column-end: span 1;
		}

		.back {
			position: relative;
			width: 32px;
			height: 32px;
			margin-right: -16px;
			margin-bottom: -16px;
			flex: 0 0 32px;
			overflow: hidden;
			z-index: 10;

			a {
				font-weight: 800;
				text-decoration: none;
				color: inherit;
				font-size: 21px;
			}
		}

		.icon {
			position: relative;
			flex: 1 1 auto;
			z-index: 1;
			display: flex;
			flex-direction: column;
		}

		svg {
			width: 100%;
			height: 100%;
		}
	}

	article {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		overflow-wrap: break-word;
		//word-break: break-all;
		overflow: hidden;
		padding: 0.85em;
		background-color: rgba(white, 0.25);

		header {
			margin-bottom: $gutter;
			flex-grow: 0;
			flex-shrink: 0;
		}

		main {
			flex-grow: 1;
			flex-shrink: 1;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			overflow: hidden;
			//text-overflow: ellipsis;
			//white-space: nowrap;
		}

		& > * {
			width: 100%;
		}

		h3 {
			font-size: 5.8em;
			line-height: 1em;
			font-family: $ffHeading1;
			letter-spacing: 0.01em;
			margin: 0;

			span {
				display: inline-block;
				line-height: 1em;
			}
		}

		h2 {
			font-size: 0.9em;
			font-family: $ffHeading2;
			font-weight: 800;
			letter-spacing: 0em;
			line-height: 1.125em;
			margin: 0;
			text-transform: uppercase;

			span.unit {
				text-transform: none;
			}
		}

		@for $i from 1 through $columns {
			&.x#{$i} {
				grid-column-end: span $i;

				@media screen and (max-width: $singleColumnDeviceMaxWidth) {
					grid-column-end: span 1;
				}
			}

			&.y#{$i} {
				grid-row-end: span $i;
			}
		}

		&.xfull {
			grid-column: 1 / -1;
		}
	}
}
