$colorDark1: #4C77A6;
$colorDark2: #353a3d;
$colorDark3: #282c2e;

$colorBackground: #d0d0bc;
$colorBackgroundDarker: #f7ddb7;

$colorText: saturate(darken($colorDark1, 25%), 25%);
$colorTextLight: #a38c72;

$colorAccent: #a9c6c7;

$colorDull1: #353a3d;

$colorCycling: #ec5f30;
$colorWalking: #24d672;
$colorFandL: #cb9625;
$colorAandV: #5360e1;
$colorMisc: #71616a;

$ffHeading1: "Knockout-HTF33-JuniorHeviwt", sans-serif;
$ffHeading2: "Knockout-HTF52-Cruiserweight", sans-serif;

$ffSans: $ffHeading2;//"futura-pt", "Futura PT", Futura, sans-serif;
$ffSerif: "adobe-caslon-pro", "Adobe Caslon Pro", "Baskerville", serif;

$gutter: 16px;

$ipadPortrait: 768px;
$ipadLandscape: 1024px;
$iphoneLandscape: 578px;
$iphonePortrait: 320px;

// Quart
$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);

%icon-button {
	user-select: none;
}

* {
	z-index: 1;
	box-sizing: border-box;
}

::selection {
	background-color: $colorDull1;
	color: $colorBackground;
}

html {
	//font-size: calc(112.5% + 4 * (100vw - #{$ipadPortrait}) / 400);
	font-size: 16px;
}

:root {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	color: $colorText;
	background-color: $colorBackground;
	background-attachment: fixed;
	font-family: $ffSans;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: space-between;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
}

p {
	font-size: 1em;
	line-height: 21px;
	font-family: $ffSerif;
	margin: ($gutter / 2) 0;
}

body > header {
	$colorBackground: #f7d6cd;
	$colorText: #0f9e5b;
	background-color: $colorBackground;
	color: $colorText;
	min-height: 100vh;
	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;

	.about {
		flex: 1 0 auto;
		width: 600px;
		padding: $gutter;
	}

	.categories-list {
		flex: 1 1 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: $gutter;

		article {
			position: relative;
			width: 33%;
			padding: $gutter / 4;

			svg {
				width: 100%;
				height: auto;

				.extras > g,
				.extras.border {
					opacity: 0;
					transition: opacity 150ms $easeOutQuart;
					transition-delay: 100ms;
				}
			}

			&:hover,
			&:active {
				svg .extras {
					& > g,
					&.border {
						opacity: 1;
						transition-delay: 100ms;
					}

					&.border {
						transition-delay: 0;
					}
				}
			}
		}
	}



	@media screen and (max-width: $ipadPortrait) {
		flex-direction: column;

		.about {
			width: 100%;
		}
	}
}

@mixin section($colorText, $colorValue, $colorBackground) {
	min-height: 100vh;
	color: $colorText;
	padding: $gutter * 4 0;
	background-color: $colorBackground;

	h3 {
		color: $colorValue;
	}

	svg {
		.bar rect:not(.hover-bar) {
			fill: $colorValue;
		}

		text {
			fill: $colorText;
		}

		.line {
			stroke: $colorValue;
		}

		.feature {
			&.polygon,
			&.multipolygon {
				//fill: darken($colorBackground, 12.5%);
				fill: rgba($colorText, 0.25);

				&.airport-grounds {
					fill: rgba(#cb9625, 0.125);
				}
			}

			&.linestring,
			&.multilinestring {
				stroke: $colorValue;
			}

			&.text {
				&.shadow {
					stroke-color: $colorBackground;
					fill: $colorBackground;
				}
			}
		}
	}

	.tip {
		fill: $colorText;
		text-shadow:
			-1px -1px 1px $colorBackground,
			1px 1px 1px $colorBackground,
			-1px 1px 1px $colorBackground,
			1px -1px 1px $colorBackground,
			-2px -2px 0px $colorBackground,
			2px 2px 0px $colorBackground,
			-2px 2px 0px $colorBackground,
			2px -2px 0px $colorBackground;
	}
}

section.stats-section {
	$colorText: #223bb9;
	$colorValue: #e36e5f;
	$colorBackground: $colorBackground;
	@include section($colorText, $colorValue, $colorBackground);

	h3 {
		text-overflow: clip;
		overflow: hidden;
		white-space: nowrap;
	}

	svg {
		.feature {
			&.linestring,
			&.multilinestring {
				fill: none;
				stroke-linejoin: round;
				stroke-width: 1.5px;
			}

			&.text {
				text-anchor: middle;
				dominant-baseline: middle;
				font-size: 1rem;

				&.shadow {
					paint-order: stroke;
					stroke-width: 4px;
					stroke-linecap: round;
				}
			}
		}
	}

	.tip {
		z-index: 10;
	}
}

section.cycling {
	$colorBackground2: darken(desaturate(lighten(#0f9e5b, 50%), 70%), 2%);
	$colorText: #0f9e5b;
	$colorValue: #e36e5f;
	@include section($colorText, $colorValue, $colorBackground2);
}

section.beer {
	$colorBackground: #d0d0bc;
	$colorText: #223bb9;
	$colorValue: #e36e5f;

	@include section($colorText, $colorValue, $colorBackground);
}

[data-hook=viz-holder] {
	svg {
		margin: 0 auto;
	}

	g rect.hover-bar {
		fill: transparent;
	}

	.text-bar rect {
		fill: transparent;
	}

	.text-bar {
		font-size: 0.85em;
		pointer-events: none;

		text {
			text-anchor: middle;
			dominant-baseline: middle;
		}
	}

	.bar-text {
		&.title {
			text-anchor: start;
		}

		&.value {
			text-anchor: end;
		}
	}
}

[data-hook=stats-holder] {
	$columns: 6;
	$height: 196px;
	$width: 220px;
	padding: 0.5rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
	grid-auto-rows: minmax(auto, $height);
	grid-gap: 0.5rem;
	grid-auto-flow: dense;

	article {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		overflow-wrap: break-word;
		//word-break: break-all;
		overflow: hidden;
		padding: 0.85em;
		background-color: rgba(white, 0.1);

		header {
			margin-bottom: $gutter;
			flex-grow: 0;
			flex-shrink: 0;
		}

		main {
			flex-grow: 1;
			flex-shrink: 1;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			/*overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;*/
		}

		& > * {
			width: 100%;
		}

		h3 {
			font-size: 5.8em;
			font-family: $ffHeading1;
			letter-spacing: 0.01em;
			margin: 0;
		}

		h2 {
			font-size: 1em;
			font-family: $ffHeading2;
			font-weight: 500;
			letter-spacing: 0.05em;
			margin: 0;
			text-transform: uppercase;

			span.unit {
				text-transform: none;
			}
		}

		@for $i from 1 through $columns {
			&.x#{$i} {
				grid-column-end: span $i;

				@media screen and (max-width: $width * 2) {
					grid-column-end: span 1;
				}
			}

			&.y#{$i} {
				grid-row-end: span $i;
			}
		}

		&.xfull {
			grid-column: 1 / -1;
		}
	}
}
