$colorDark1: #4C77A6;
$colorDark2: #3f444e;

$colorBackground: #f2f7f6;
$colorBackgroundDarker: #e6edec;
$colorText: $colorDark2;

$colorCycling: #ec5f30;
$colorWalking: #24d672;
$colorFandL: #cb9625;
$colorAandV: #5360e1;
$colorMisc: #71616a;

$ffSans: "Futura PT", Futura, sans-serif;
$ffSerif: "Adobe Caslon Pro", "Baskerville", serif;

$gutter: 15px;

* {
	z-index: 1;
}

::selection {
	background-color: $colorText;
	color: $colorBackground;
}

body {
	margin: 0;
	color: $colorText;
	background-color: $colorBackground;
	background-image: linear-gradient(to bottom, $colorBackground, $colorBackgroundDarker);
	background-attachment: fixed;
	font-family: $ffSans;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: space-between;
	justify-content: center;
	//max-height: 100vh;
	//overflow: hidden;
}

p {
	font-size: 17px;
	line-height: 21px;
	font-family: $ffSerif;
	margin: ($gutter / 2) 0;
}

p.sources {
	margin-top: $gutter;
	color: rgba($colorText, 0.5);
	font-size: 10px;
	line-height: 14px;
	text-transform: uppercase;
}

a[href] {
	text-decoration: none;
}
				
.si-unit {
	text-transform: none;
}

canvas {
	font-family: $ffSans;
	position: absolute;
	top: 0;
	left: 0;
	cursor: hand;
	cursor: -webkit-grab;
	
	&:active {
		cursor: -webkit-grabbing;
	}
}

body > main {
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: space-between;
	justify-content: center;
}

body > nav {
	position: relative;
	width: 100%;
	height: 58px;
	text-align: center;
	background-color: $colorBackgroundDarker;
	flex: 0 1 auto;
	
	h1 {
		font-size: 24px;
		margin: 0;
		line-height: 58px;
		letter-spacing: 0.015em;
		text-transform: uppercase;
	}
	
	[data-hook=switch-modes] {
		margin-top: 6px;
		font-weight: 600;
		position: absolute;
		top: 0;
		right: $gutter;
		display: inline-block;
		font-size: 8px;
		text-align: center;
		text-transform: uppercase;
		color: $colorText;
		
		&:before {
			width: 32px;
			height: 32px;
			display: block;
			margin: 0 auto;
			margin-bottom: 4px;
			position: relative;
			//top: 0;
			//left: 0;
			content: "";
			background-size: 100% 100%;
			background-position: center center;
			background-repeat: no-repeat;
			vertical-align: middle;		
		}
		
		&[href*=maps]:before {
			background-image: url("/img/mode_maps.svg");
		}
		&[href*=stats]:before {
			background-image: url("/img/mode_stats.svg");
		}
	}
}

body > main > section {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: space-between;
	justify-content: center;
}

body > main > section > main {
	//position: relative;
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-between;
	justify-content: center;
	//max-height: calc(100vh - 128px);
}

body > main > section.maps > main {
	position: relative;
	overflow: hidden;
}

body > main > section#maps canvas {
	//flex: 0 1 auto;
	//width: 100vw;
}

body > main > section > nav {
	flex: 0 0 auto;
	height: 32px;
	width: 100%;
	background-color: $colorDark2;
	text-align: center;
	
	a[href] {
		color: rgba(darken($colorBackgroundDarker, 20%), 0.8);
		line-height: 32px;
		font-size: 14px;
		font-weight: 600;
		vertical-align: middle;
		letter-spacing: 0.08em;
		margin: 0 ($gutter / 2);
		text-shadow: 0px 1px 2px rgba(darken($colorDark2, 10%), 0.5);
	
		&:hover {
			color: $colorBackground;
			text-shadow: 0px 1px 8px rgba($colorDark1, 0.5);
		}
	}
}

body > main > section#maps {
	position: relative;
	
	&:before {
		$fontSize: 320px;
		display: inline-block;
		width: 100%;
		text-align: center;
		position: fixed;
		left: 0;
		bottom: - ($fontSize / 10);
		//top: calc(100vh - $fontSize);
		z-index: 0;
		content: attr(data-title);
		white-space: nowrap;
		font-size: $fontSize;
		font-weight: 600;
		margin: 0;
		line-height: 1em;
		vertical-align: baseline;
		color: rgba($colorBackground, 0.5);
		text-transform: uppercase;
	}
	
	main {
		mix-blend-mode: multiply;
	}

	
	@each $area in to, lv, nyc, pdx, surrey {
		&[data-area=#{$area}] > nav a[href*=#{$area}] {
			color: $colorBackground;
			text-shadow: 0px 1px 8px rgba($colorDark1, 0.5);
		}
	}
}

body > main > section#stats {
	
	main {
		position: relative;
		
		&:before {
			$fontSize: 320px;
			display: inline-block;
			width: 100%;
			text-align: center;
			position: fixed;
			left: 0;
			bottom: - ($fontSize / 10);
			//top: calc(100vh - $fontSize);
			z-index: 0;
			content: attr(data-title);
			white-space: nowrap;
			font-size: $fontSize;
			font-weight: 600;
			margin: 0;
			line-height: 1em;
			vertical-align: baseline;
			color: rgba($colorBackground, 0.5);
			text-transform: uppercase;
		}
	}
	
	@each $type in "cycling", "walking", "food\\+liquor", "audio\\+video", "miscellaneous" {
		&[data-type=#{$type}] nav a[href*=#{$type}] {
			color: $colorBackground;
			text-shadow: 0px 1px 8px rgba($colorDark1, 0.5);
		}
	}
	
	@mixin sectionColor($section, $color) {
		&[data-type=#{$section}] {
			& > main {
				::selection {
					background-color: $color;
				}
			
				h3 {
					color: $color;
				}
			}
		}
	}
	
	@include sectionColor("cycling", $colorCycling);
	@include sectionColor("walking", $colorWalking);
	@include sectionColor("food\\+liquor", $colorFandL);
	@include sectionColor("audio\\+video", $colorAandV);
	@include sectionColor("miscellaneous", $colorMisc);
}

body > main > section > main > section {
	width: 1080px;
	flex: 0 1 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	position: relative;
	
	& > * {
		z-index: 1;
	}
	
	.text-holder {
		$width: 260px;
		flex: 1 1 $width;
		min-width: $width;
		max-height: 80vh;
		padding: $gutter;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: flex-start;
		position: sticky;
		top: 0;
	}
	
	.text {
		//width: $width;
		position: relative;
		
		h2 {
			font-size: 36px;
			margin: $gutter * 1.5 0;
			z-index: 1;
			
			&:after {
				content: "";
				position: absolute;
				display: block;
				width: 64px;
				height: 2px;
				margin-top: 2px;
				margin-bottom: -2px;
				background-color: $colorText;
				user-select: none;
				pointer-events: none;
				z-index: 0;
			}
		}
			
		p {
			white-space: pre-line;
			
			.digit {
				display: inline-block;
				font-family: $ffSans;
				vertical-align: bottom;
				font-weight: 200;
				//font-size: 17px;
				vertical-align: middle;
				//margin: 0px 2px;
				margin-top: -4px; 
			}
		}
	}
	
	.stats {
		//background-color: yellow;
		position: relative;
		flex: 1 1 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-content: flex-start;
		padding: $gutter 0;
		box-sizing: border-box;
		
		article {
			text-align: center;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: center;
			align-content: center;
			width: 220px;
			height: 165px;
			margin: 2px;
			//background-color: red;
			box-shadow: inset 0px 0px 0px 1px rgba($colorText, 0.15);
			
			h3 {
				font-weight: 100;
				font-size: 52px;
				line-height: 64px;
				margin: 0;
				margin-top: $gutter/2;
				margin-bottom: $gutter/2;
			}
			
			h4 {
				font-size: 12px;
				line-height: 1em;
				letter-spacing: 0.05em;
				font-weight: 600;
				text-transform: uppercase;
				margin: 0;
				margin-top: $gutter / 2;
			}
			
			h5 {
				margin: 0;
				font-size: 12px;
				line-height: 1em;
				font-weight: 100;
				color: mix($colorText, $colorBackground, 50%);
				
				&:not(:empty) {
					margin-bottom: -12px;
				}
			}
		}
	}
}